primary = #475cd1

border-radius(radius = 5px)
    -webkit-border-radius radius
    border-radius radius

cf()
    zoom 1
    &:after
    &:before
        content ""
        display table
    &:after
        clear both

body
    background primary
    color red
    border 1px solid @color
    main
        color blue
        border solid 1px @color
        border-radius(10px)
        cf()
