@import 'nib'

normalize-base()
normalize-html5()


test(var)
    margin-top unit(var, 'px')
    if var > 5
        background red
        margin-bottom unit(var, 'px')
    else
        background blue

color = black


body
    background linear-gradient(top,80% white,black)
    absolute top 20px left 20px
    color red
    border solid 1px @color
    margin-left 10px
    test(4)